In [36]:
import pandas as pd

In [56]:
df=pd.read_csv("Yatra_flight_price27.csv")
df.head()

,Unnamed: 0,origin,destination,departure_date,departure_time,Arrival_time,Airways_name,Duration,no_of_stops,price
0,0,Mumbai,New Delhi,29-Oct-2021,05:55\nAir Asia,10:55,Air Asia,5h 00m,1 Stop,5941.0
1,1,Mumbai,New Delhi,29-Oct-2021,05:55\nAir Asia,17:45,Air Asia,11h 50m,1 Stop,5941.0
2,2,Mumbai,New Delhi,29-Oct-2021,05:55\nAir Asia,19:15,Air Asia,13h 20m,1 Stop,5941.0
3,3,Mumbai,New Delhi,29-Oct-2021,14:00\nGo First,20:45,Go First,6h 45m,1 Stop,5942.0
4,4,Mumbai,New Delhi,29-Oct-2021,13:55\nGo First,22:30,Go First,8h 35m,1 Stop,5942.0

In [57]:
len(df)

3171

In [58]:
df.drop_duplicates()

,Unnamed: 0,origin,destination,departure_date,departure_time,Arrival_time,Airways_name,Duration,no_of_stops,price
0,0,Mumbai,New Delhi,29-Oct-2021,05:55\nAir Asia,10:55,Air Asia,5h 00m,1 Stop,5941.0
1,1,Mumbai,New Delhi,29-Oct-2021,05:55\nAir Asia,17:45,Air Asia,11h 50m,1 Stop,5941.0
2,2,Mumbai,New Delhi,29-Oct-2021,05:55\nAir Asia,19:15,Air Asia,13h 20m,1 Stop,5941.0
3,3,Mumbai,New Delhi,29-Oct-2021,14:00\nGo First,20:45,Go First,6h 45m,1 Stop,5942.0
4,4,Mumbai,New Delhi,29-Oct-2021,13:55\nGo First,22:30,Go First,8h 35m,1 Stop,5942.0
...,...,...,...,...,...,...,...,...,...,...
3166,3166,New Delhi,Mumbai,31-Oct-2021,08:00\nAir India,10:10,Air India,2h 10m,Non Stop,5955.0
3167,3167,New Delhi,Mumbai,31-Oct-2021,08:10\nIndiGo,10:20,IndiGo,2h 10m,Non Stop,5955.0
3168,3168,New Delhi,Mumbai,31-Oct-2021,09:30\nVistara,11:40,Vistara,2h 10m,Non Stop,5955.0
3169,3169,New Delhi,Mumbai,31-Oct-2021,12:00\nIndiGo,14:10,IndiGo,2h 10m,Non Stop,5955.0
3170,3170,New Delhi,Mumbai,31-Oct-2021,12:50\nVistara,15:00,Vistara,2h 10m,Non Stop,5955.0

In [59]:
#Cleaning departure time as its scrapped with addition details
dept_time=[]
for time in df['departure_time']:
    split_time=time.split('\n')
    dept_time.append(split_time[0])

In [60]:
len(df)

3171

In [61]:
df['Departure_time']=dept_time

In [62]:
#dropping old departure time

df.drop(columns=['departure_time','Unnamed: 0'],axis=1,inplace=True)

In [63]:
df.head()

,origin,destination,departure_date,Arrival_time,Airways_name,Duration,no_of_stops,price,Departure_time
0,Mumbai,New Delhi,29-Oct-2021,10:55,Air Asia,5h 00m,1 Stop,5941.0,05:55
1,Mumbai,New Delhi,29-Oct-2021,17:45,Air Asia,11h 50m,1 Stop,5941.0,05:55
2,Mumbai,New Delhi,29-Oct-2021,19:15,Air Asia,13h 20m,1 Stop,5941.0,05:55
3,Mumbai,New Delhi,29-Oct-2021,20:45,Go First,6h 45m,1 Stop,5942.0,14:00
4,Mumbai,New Delhi,29-Oct-2021,22:30,Go First,8h 35m,1 Stop,5942.0,13:55

In [64]:
#cleanign the arrival time, removing +1 or 2 days as its added already in the duration
arrival=[]

for i in df['Arrival_time']:
    split=i.split('\n')
    arrival.append(split[0])
    
arrival

['10:55',
 '17:45',
 '19:15',
 '20:45',
 '22:30',
 '23:10',
 '20:20',
 '13:20',
 '15:55',
 '17:00',
 '08:15',
 '14:05',
 '07:00',
 '16:55',
 '11:20',
 '08:05',
 '10:00',
 '09:40',
 '11:00',
 '12:40',
 '10:55',
 '15:55',
 '17:50',
 '12:10',
 '10:50',
 '08:55',
 '16:15',
 '01:00',
 '20:20',
 '08:10',
 '10:10',
 '20:10',
 '22:25',
 '00:50',
 '14:30',
 '15:45',
 '23:30',
 '02:00',
 '21:45',
 '21:50',
 '17:35',
 '23:50',
 '20:20',
 '21:25',
 '08:55',
 '23:30',
 '05:10',
 '08:05',
 '08:35',
 '09:50',
 '01:00',
 '08:10',
 '20:10',
 '12:10',
 '14:30',
 '15:45',
 '23:30',
 '21:45',
 '21:50',
 '21:10',
 '17:35',
 '23:50',
 '20:20',
 '21:25',
 '08:55',
 '23:30',
 '08:05',
 '08:35',
 '09:50',
 '19:20',
 '20:35',
 '22:35',
 '08:10',
 '09:40',
 '14:05',
 '02:50',
 '03:35',
 '01:00',
 '16:15',
 '08:55',
 '20:20',
 '20:10',
 '22:25',
 '00:50',
 '23:30',
 '18:25',
 '21:25',
 '08:55',
 '23:30',
 '19:20',
 '22:35',
 '23:00',
 '20:40',
 '21:55',
 '23:55',
 '00:55',
 '00:10',
 '21:30',
 '20:30',
 '08:05',
 '02:50',
 '14:00',
 '03:35',
 '08:55',
 '01:00',
 '16:15',
 '14:05',
 '08:55',
 '01:00',
 '20:20',
 '20:10',
 '22:25',
 '00:50',
 '12:10',
 '14:30',
 '15:45',
 '23:30',
 '02:00',
 '21:45',
 '21:50',
 '21:10',
 '18:25',
 '23:50',
 '21:25',
 '08:55',
 '08:55',
 '23:30',
 '10:15',
 '12:15',
 '18:15',
 '20:30',
 '19:20',
 '21:15',
 '02:50',
 '14:00',
 '10:55',
 '03:35',
 '08:55',
 '01:00',
 '16:15',
 '14:05',
 '08:55',
 '01:00',
 '08:10',
 '10:10',
 '20:10',
 '22:25',
 '00:50',
 '12:10',
 '14:30',
 '08:55',
 '23:30',
 '10:15',
 '12:15',
 '18:15',
 '21:15',
 '20:30',
 '19:20',
 '11:10',
 '02:50',
 '14:00',
 '03:35',
 '08:55',
 '01:00',
 '16:15',
 '14:05',
 '08:55',
 '10:10',
 '20:10',
 '22:25',
 '00:50',
 '12:10',
 '14:30',
 '15:45',
 '23:30',
 '08:55',
 '23:30',
 '10:15',
 '19:20',
 '12:15',
 '18:15',
 '21:15',
 '11:10',
 '02:50',
 '14:00',
 '10:55',
 '03:35',
 '08:55',
 '01:00',
 '16:15',
 '14:05',
 '08:55',
 '08:10',
 '10:10',
 '20:10',
 '12:10',
 '14:30',
 '15:45',
 '23:30',
 '02:00',
 '08:55',
 '23:30',
 '10:15',
 '12:15',
 '21:15',
 '20:30',
 '19:20',
 '11:10',
 '02:50',
 '14:00',
 '03:35',
 '08:55',
 '01:00',
 '16:15',
 '14:05',
 '08:55',
 '10:10',
 '20:10',
 '00:50',
 '12:10',
 '14:30',
 '15:45',
 '23:30',
 '02:00',
 '23:30',
 '07:05',
 '09:50',
 '19:20',
 '20:35',
 '22:35',
 '01:00',
 '08:10',
 '14:00',
 '23:30',
 '02:00',
 '08:05',
 '00:55',
 '00:10',
 '00:25',
 '09:30',
 '20:10',
 '22:25',
 '00:50',
 '14:30',
 '23:30',
 '09:35',
 '19:20',
 '11:10',
 '08:35',
 '23:00',
 '21:25',
 '07:05',
 '09:50',
 '20:35',
 '22:35',
 '00:25',
 '01:00',
 '09:30',
 '20:10',
 '22:25',
 '23:55',
 '00:50',
 '09:20',
 '23:30',
 '02:00',
 '21:30',
 '23:30',
 '19:20',
 '11:10',
 '00:55',
 '00:10',
 '05:10',
 '10:10',
 '14:30',
 '15:45',
 '00:35',
 '03:00',
 '15:45',
 '10:10',
 '23:45',
 '00:45',
 '07:15',
 '07:15',
 '09:15',
 '07:15',
 '09:15',
 '00:25',
 '02:30',
 '00:35',
 '01:00',
 '01:05',
 '22:25',
 '23:45',
 '00:45',
 '23:55',
 '23:10',
 '02:10',
 '23:50',
 '21:20',
 '23:45',
 '12:00',
 '16:15',
 '20:50',
 '15:30',
 '15:30',
 '10:30',
 '23:50',
 '20:20',
 '21:50',
 '02:00',
 '14:30',
 '12:10',
 '15:45',
 '14:30',
 '15:45',
 '17:40',
 '20:10',
 '07:50',
 '21:00',
 '23:55',
 '00:35',
 '08:40',
 '12:15',
 '16:45',
 '21:50',
 '03:00',
 '01:00',
 '03:00',
 '12:00',
 '14:00',
 '00:35',
 '16:15',
 '20:10',
 '03:00',
 '10:30',
 '23:50',
 '02:00',
 '14:30',
 '12:10',
 '15:45',
 '14:30',
 '15:45',
 '21:10',
 '08:10',
 '17:40',
 '20:10',
 '08:10',
 '21:00',
 '23:55',
 '00:35',
 '13:00',
 '20:35',
 '23:55',
 '01:45',
 '01:00',
 '12:00',
 '14:00',
 '00:35',
 '16:15',
 '20:10',
 '19:20',
 '02:10',
 '10:30',
 '23:50',
 '12:20',
 '02:00',
 '14:30',
 '15:45',
 '19:55',
 '00:35',
 '08:40',
 '12:15',
 '16:45',
 '21:50',
 '19:20',
 '23:55',
 '01:00',
 '12:00',
 '14:00',
 '00:35',
 '16:15',
 '20:10',
 '19:20',
 '02:10',
 '10:30',
 '23:50',
 '12:20',
 '14:30',
 '12:10',
 '15:45',
 '14:30',
 '19:55',
 '15:45',
 '00:35',
 '08:40',
 '12:15',
 '21:50',
 '09:30',
 '19:20',
 '07:35',
 '13:00',
 '23:55',
 '20:20',
 '01:45',
 '10:55',
 '01:00',
 '12:00',
 '14:00',
 '00:35',
 '16:15',
 '20:10',
 '19:20',
 '02:10',
 '10:30',
 '23:50',
 '12:20',
 '02:00',
 '14:30',
 '12:10',
 '13:30',
 '15:45',
 '14:30',
 '19:55',
 '15:45',
 '00:35',
 '13:00',
 '20:35',
 '23:55',
 '01:45',
 '01:00',
 '12:00',
 '14:00',
 '00:35',
 '16:15',
 '20:10',
 '19:20',
 '02:10',
 '10:30',
 '23:50',
 '20:20',
 '12:20',
 '02:00',
 '14:30',
 '12:10',
 '13:30',
 '15:45',
 '14:30',
 '19:55',
 '15:45',
 '00:35',
 '20:35',
 '23:55',
 '01:00',
 '12:00',
 '12:00',
 '14:00',
 '00:35',
 '16:15',
 '02:10',
 '10:30',
 '23:50',
 '12:20',
 '02:00',
 '13:10',
 '14:30',
 '12:10',
 '15:45',
 '14:30',
 '19:55',
 '15:45',
 '00:35',
 '08:40',
 '12:15',
 '16:45',
 '21:50',
 '13:00',
 '20:35',
 '23:55',
 '01:00',
 '12:00',
 '14:00',
 '00:35',
 '16:15',
 '20:10',
 '19:20',
 '02:10',
 '10:30',
 '23:50',
 '23:30',
 '12:20',
 '21:50',
 '02:00',
 '14:30',
 '12:10',
 '13:30',
 '15:45',
 '14:30',
 '19:55',
 '15:45',
 '00:35',
 '01:45',
 '01:00',
 '12:00',
 '14:00',
 '00:35',
 '16:15',
 '20:10',
 '19:20',
 '02:10',
 '10:30',
 '23:50',
 '20:20',
 '23:30',
 '12:20',
 '21:50',
 '02:00',
 '14:30',
 '12:10',
 '13:30',
 '15:45',
 '14:30',
 '19:55',
 '15:45',
 '00:35',
 '08:40',
 '08:55',
 '21:50',
 '20:00',
 '08:05',
 '08:05',
 '08:05',
 '01:00',
 '12:00',
 '14:00',
 '00:35',
 '16:15',
 '20:10',
 '19:20',
 '02:10',
 '10:30',
 '23:50',
 '23:30',
 '12:20',
 '02:00',
 '14:30',
 '12:10',
 '13:30',
 '15:45',
 '14:30',
 '19:55',
 '23:45',
 '15:55',
 '00:45',
 '22:25',
 '15:55',
 '19:55',
 '18:30',
 '23:45',
 '00:45',
 '15:55',
 '16:10',
 '22:25',
 '19:55',
 '15:55',
 '19:55',
 '23:45',
 '20:10',
 '19:25',
 '19:25',
 '00:25',
 '13:30',
 '16:00',
 '18:30',
 '23:55',
 '08:45',
 '23:00',
 '14:55',
 '19:30',
 '14:20',
 '13:35',
 '12:50',
 '20:50',
 '21:55',
 '21:55',
 '15:15',
 '16:50',
 '18:55',
 '09:55',
 '09:10',
 '09:55',
 '13:55',
 '00:45',
 '22:35',
 '12:40',
 '20:50',
 '23:10',
 '10:55',
 '13:40',
 '18:55',
 '00:45',
 '08:45',
 '21:00',
 '22:25',
 '00:25',
 '01:15',
 '19:10',
 '13:20',
 '00:45',
 '23:45',
 '22:25',
 '22:35',
 '00:45',
 '20:10',
 '22:25',
 '23:45',
 '00:45',
 '23:45',
 '22:25',
 '23:30',
 '15:45',
 '00:50',
 '02:00',
 '20:10',
 '10:40',
 '16:35',
 '16:15',
 '01:00',
 '01:00',
 '14:05',
 '14:05',
 '08:45',
 '00:25',
 '09:00',
 '13:20',
 '00:45',
 '10:10',
 '23:45',
 '11:55',
 '22:25',
 '10:50',
 '22:10',
 '02:30',
 '14:50',
 '15:55',
 '22:35',
 '12:30',
 '19:20',
 '00:45',
 '18:10',
 '20:10',
 '03:35',
 '16:15',
 '01:00',
 '01:00',
 '08:55',
 '08:55',
 '02:50',
 '20:20',
 '03:35',
 '10:05',
 '08:45',
 '21:00',
 '22:25',
 '00:25',
 '09:00',
 '19:10',
 '00:45',
 '10:10',
 '23:45',
 '11:55',
 '22:25',
 '10:50',
 '22:10',
 '02:30',
 '14:50',
 '03:35',
 '16:15',
 '01:00',
 '01:00',
 '08:55',
 '02:10',
 '08:55',
 '02:50',
 '20:20',
 '03:35',
 '21:00',
 '22:25',
 '00:25',
 '19:10',
 '00:45',
 '23:45',
 '11:55',
 '22:25',
 '10:50',
 '23:10',
 '22:10',
 '02:30',
 '14:50',
 '15:55',
 '22:35',
 '03:35',
 '16:15',
 '01:00',
 '01:00',
 '08:55',
 '02:10',
 '08:55',
 '02:50',
 '20:20',
 '03:35',
 '08:45',
 '00:25',
 '01:15',
 '13:20',
 '00:45',
 '10:10',
 '23:45',
 '22:25',
 '10:50',
 '23:10',
 '22:10',
 '02:30',
 '12:30',
 '20:45',
 '00:45',
 '03:35',
 '16:15',
 '01:00',
 '01:00',
 '08:55',
 '08:55',
 '02:50',
 '20:20',
 '03:35',
 '10:05',
 '08:45',
 '00:25',
 '01:15',
 '00:45',
 '10:10',
 '22:25',
 '10:50',
 '23:10',
 '22:10',
 '02:30',
 '15:55',
 '22:35',
 '19:20',
 '20:45',
 '20:10',
 '18:00',
 '08:55',
 '03:35',
 '16:15',
 '01:00',
 '01:00',
 '08:55',
 '02:10',
 '08:55',
 '01:00',
 '02:50',
 '20:20',
 '00:25',
 '09:00',
 '11:25',
 '01:15',
 '19:10',
 '13:20',
 '00:45',
 '10:10',
 '23:45',
 '11:55',
 '22:25',
 '10:50',
 '23:10',
 '18:00',
 '03:35',
 '16:15',
 '01:00',
 '01:00',
 '08:55',
 '02:10',
 '08:55',
 '02:50',
 '20:20',
 '03:35',
 '00:25',
 '09:00',
 '11:25',
 '13:35',
 '13:20',
 '00:45',
 '10:10',
 '23:45',
 '22:25',
 '10:50',
 '23:10',
 '22:10',
 '02:30',
 '15:55',
 '18:00',
 '03:35',
 '16:15',
 '01:00',
 '01:00',
 '08:55',
 '02:10',
 '08:55',
 '02:50',
 '20:20',
 '03:35',
 '00:25',
 '11:25',
 '01:15',
 '13:20',
 '10:10',
 '22:10',
 '02:30',
 '14:50',
 '19:20',
 '20:45',
 '20:10',
 '00:40',
 '12:10',
 '01:05',
 '03:35',
 '16:15',
 '01:00',
 '01:00',
 '08:55',
 '02:10',
 '08:55',
 '02:50',
 '20:20',
 '03:35',
 '08:45',
 '21:00',
 '00:25',
 '09:00',
 '11:25',
 '01:15',
 '13:35',
 '13:20',
 '10:10',
 '23:45',
 '22:25',
 '10:50',
 '23:10',
 '22:10',
 '02:30',
 '18:00',
 '03:35',
 '16:15',
 '01:00',
 '01:00',
 '08:55',
 '02:10',
 '08:55',
 '02:50',
 '20:20',
 '03:35',
 '17:00',
 '21:00',
 '22:25',
 '00:25',
 '09:00',
 '19:10',
 '13:20',
 '10:10',
 '23:45',
 '22:25',
 '10:50',
 '22:10',
 '02:30',
 '14:50',
 '18:00',
 '03:35',
 '08:55',
 '08:55',
 '02:50',
 '03:35',
 '08:55',
 '16:15',
 '01:00',
 '01:00',
 '02:10',
 '20:20',
 '00:25',
 '10:10',
 '22:25',
 '20:10',
 '00:40',
 '12:10',
 '22:25',
 '14:30',
 '23:30',
 '15:45',
 '00:50',
 '02:00',
 '19:15',
 '01:15',
 '08:45',
 '00:25',
 '23:45',
 '22:25',
 '00:45',
 '23:45',
 '00:45',
 '09:55',
 '23:55',
 '22:25',
 '11:25',
 '08:55',
 '13:00',
 '13:35',
 '19:50',
 '21:00',
 '09:00',
 '13:35',
 '19:10',
 '21:30',
 '23:55',
 '09:35',
 '22:10',
 '02:30',
 '09:00',
 '11:25',
 '19:10',
 '09:55',
 '08:45',
 '00:25',
 '00:45',
 '23:45',
 '22:25',
 '00:45',
 '23:45',
 '00:45',
 '08:55',
 '13:00',
 '13:35',
 '20:10',
 '23:55',
 '19:50',
 '17:00',
 '21:00',
 '22:25',
 '01:15',
 '13:35',
 '12:30',
 '09:35',
 '10:55',
 '17:45',
 '19:15',
 '20:45',
 '22:30',
 '23:10',
 '20:20',
 '15:55',
 '13:20',
 '17:00',
 '08:15',
 '14:05',
 '11:20',
 '08:05',
 '07:00',
 '11:00',
 '12:40',
 '16:55',
 '10:55',
 '08:35',
 '15:55',
 '17:50',
 '12:10',
 '10:00',
 '09:10',
 '00:40',
 '15:30',
 '18:00',
 '22:00',
 '00:25',
 '08:45',
 '01:10',
 '15:30',
 '21:35',
 '23:45',
 '16:35',
 '00:45',
 '22:25',
 '08:40',
 '09:00',
 '07:15',
 '09:15',
 '22:40',
 '19:55',
 '11:55',
 '18:10',
 '01:00',
 '03:35',
 '03:35',
 '01:00',
 ...]

In [65]:
df['Arrival_Time']=arrival
df.head()

,origin,destination,departure_date,Arrival_time,Airways_name,Duration,no_of_stops,price,Departure_time,Arrival_Time
0,Mumbai,New Delhi,29-Oct-2021,10:55,Air Asia,5h 00m,1 Stop,5941.0,05:55,10:55
1,Mumbai,New Delhi,29-Oct-2021,17:45,Air Asia,11h 50m,1 Stop,5941.0,05:55,17:45
2,Mumbai,New Delhi,29-Oct-2021,19:15,Air Asia,13h 20m,1 Stop,5941.0,05:55,19:15
3,Mumbai,New Delhi,29-Oct-2021,20:45,Go First,6h 45m,1 Stop,5942.0,14:00,20:45
4,Mumbai,New Delhi,29-Oct-2021,22:30,Go First,8h 35m,1 Stop,5942.0,13:55,22:30

In [66]:
df.drop('Arrival_time',axis=1,inplace=True)

In [67]:
#changing the departure date and time to date and time type

df['departure_date']=pd.to_datetime(df.departure_date)
df['Arrival_Time']=pd.DatetimeIndex(df.Arrival_Time).time
df['Departure_time']=pd.DatetimeIndex(df.Departure_time).time

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3171 entries, 0 to 3170
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   origin          3171 non-null   object
 1   destination     3171 non-null   object
 2   departure_date  3171 non-null   datetime64[ns]
 3   Airways_name    3171 non-null   object
 4   Duration        3171 non-null   object
 5   no_of_stops     3171 non-null   object
 6   price           3171 non-null   float64
 7   Departure_time  3171 non-null   object
 8   Arrival_Time    3171 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 223.1+ KB

In [69]:
df.head()

,origin,destination,departure_date,Airways_name,Duration,no_of_stops,price,Departure_time,Arrival_Time
0,Mumbai,New Delhi,2021-10-29,Air Asia,5h 00m,1 Stop,5941.0,05:55:00,10:55:00
1,Mumbai,New Delhi,2021-10-29,Air Asia,11h 50m,1 Stop,5941.0,05:55:00,17:45:00
2,Mumbai,New Delhi,2021-10-29,Air Asia,13h 20m,1 Stop,5941.0,05:55:00,19:15:00
3,Mumbai,New Delhi,2021-10-29,Go First,6h 45m,1 Stop,5942.0,14:00:00,20:45:00
4,Mumbai,New Delhi,2021-10-29,Go First,8h 35m,1 Stop,5942.0,13:55:00,22:30:00

since arrival time falls on next date for some feature, lets introduce arrival date column

In [75]:
index_names = df[df['destination'] == 'Mumbai'].index
df.drop(index_names, inplace = True)

In [76]:
df.destination.unique()

array(['New Delhi'], dtype=object)

In [77]:
df.isnull().sum()

origin            0
destination       0
departure_date    0
Airways_name      0
Duration          0
no_of_stops       0
price             0
Departure_time    0
Arrival_Time      0
dtype: int64

In [78]:
df.to_csv("Yatra_flight_price_final.csv")